In [1]:
import pandas as pd
import numpy as np

In [3]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [4]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

## Create pivot table for user and movie basedon ratings

In [5]:
datama=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [6]:
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Replace with nan with 0
data_matrix=datama.replace(np.nan,0)

In [8]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Find Cosine Similatity for user and Item

In [9]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [10]:
user_similarity

array([[1.33226763e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 0.00000000e+00, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        0.00000000e+00, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 0.00000000e+00, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

##  Using formula for user and item we are calcuating the score value

In [15]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1) #This calculate the average rating for each user
        # This subtracts the user’s average from their actual ratings So we get a difference from average for each rating
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating.to_numpy()[:, np.newaxis])
        #similarity.dot(ratings_diff) weighted average of other user rating differences, based on similarity.
        #np.abs() returns the absolute value of a number (removes minus sign)
        #
        pred = mean_user_rating.to_numpy()[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [16]:
# prediction Table
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [17]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

### As per User based filtering ,first have to find similarity between the input user and others

In [18]:
#1. Select input user

input_user=35

In [19]:
#2. Convert the user_sim table into DataFrame

user_sim_table=pd.DataFrame(user_similarity)

In [20]:
user_sim_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,1.332268e-15,0.833069,0.952540,0.935642,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,0.685928,0.851383,0.820492,0.601825
1,8.330690e-01,0.000000,0.889409,0.821879,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,0.773210,0.838515,0.827732,0.894202
2,9.525405e-01,0.889409,0.000000,0.655849,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,0.838110,0.898757,0.866584,0.973444
3,9.356422e-01,0.821879,0.655849,0.000000,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,0.803142,0.847959,0.829914,0.941248
4,6.215248e-01,0.927021,0.978755,0.968196,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,0.760045,0.860405,0.847503,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,0.771417,0.973729,0.969862,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,0.912313,0.819971,0.956736,0.855750
939,6.859280e-01,0.773210,0.838110,0.803142,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,0.000000,0.854848,0.738624,0.758972
940,8.513831e-01,0.838515,0.898757,0.847959,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,0.854848,0.000000,0.898358,0.904880
941,8.204921e-01,0.827732,0.866584,0.829914,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,0.738624,0.898358,0.000000,0.817535
942,6.018253e-01,0.894202,0.973444,0.941248,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,0.758972,0.904880,0.817535,0.000000

In [21]:
#3. Find similarity user using cosine table

similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(5).index

In [22]:
similar_input_user

Index([35, 684, 811, 38, 586], dtype='int64')

In [23]:
#4.Convert in to list

similar_user_input=list(similar_input_user)

In [24]:
#5. Using similar_user_input,can select movie id from ratings table

similar_user_movieid_list=[]
for sim_user in similar_user_input:
    sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
    similar_user_movieid_list.append(sim)

In [25]:
len(similar_user_movieid_list)

5

In [26]:
#6. Convert all the list as single
import itertools
similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))

In [27]:
len(similar_user_movieid_single_list)

419

In [28]:
#7. Unique movieid from the list

Unique_movieid_similar_user=set(similar_user_movieid_single_list)

In [29]:
len(Unique_movieid_similar_user)

329

In [30]:
#8. Input user watched movie_list

input_user_watched_movieid=list(ratings[ratings['user_id']==input_user]['movie_id'].values)

In [31]:
input_user_watched_movieid

[243,
 1025,
 242,
 259,
 877,
 680,
 322,
 332,
 261,
 881,
 678,
 358,
 328,
 258,
 879,
 937,
 876,
 333,
 748,
 327,
 326,
 300,
 264,
 266,
 321]

In [32]:
#9. Create a list which should have recom movieid to the input user

recom=[]
for per_id in Unique_movieid_similar_user:
    if(per_id in input_user_watched_movieid):
        pass
    else:
        recom.append(per_id)

In [33]:
len(recom)

304

In [34]:
# sorting the list
sorted(recom)

[1,
 3,
 8,
 11,
 15,
 17,
 22,
 23,
 27,
 28,
 29,
 31,
 33,
 35,
 38,
 39,
 44,
 48,
 49,
 50,
 51,
 53,
 54,
 56,
 63,
 64,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 88,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 105,
 111,
 112,
 117,
 118,
 121,
 122,
 123,
 127,
 133,
 139,
 140,
 144,
 145,
 147,
 148,
 151,
 153,
 155,
 156,
 158,
 159,
 160,
 161,
 162,
 164,
 168,
 172,
 173,
 174,
 176,
 177,
 178,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 195,
 200,
 202,
 203,
 204,
 208,
 210,
 211,
 215,
 216,
 217,
 218,
 219,
 222,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 237,
 238,
 239,
 240,
 241,
 247,
 248,
 249,
 250,
 252,
 254,
 257,
 265,
 273,
 274,
 276,
 281,
 282,
 284,
 286,
 288,
 289,
 292,
 294,
 295,
 301,
 304,
 307,
 308,
 313,
 315,
 318,
 323,
 356,
 365,
 371,
 376,
 379,
 381,
 383,
 384,
 385,
 386,
 389,
 392,
 393,
 395,
 397,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 408,
 409,
 410,
 411,
 413,
 418,
 419,
 420,
 423,
 424,
 427,
 431,
 432,
 433,
 435,
 436,
 444,
 445,
 447,
 450,
 451,
 452,
 465,
 467,
 468,
 470,
 477,
 483,
 496,
 501,
 508,
 520,
 526,
 541,
 550,
 551,
 553,
 559,
 566,
 568,
 569,
 573,
 576,
 578,
 581,
 585,
 586,
 588,
 590,
 591,
 596,
 616,
 625,
 627,
 628,
 637,
 651,
 655,
 665,
 672,
 673,
 676,
 679,
 681,
 690,
 692,
 693,
 696,
 710,
 716,
 717,
 720,
 722,
 728,
 732,
 734,
 735,
 742,
 756,
 758,
 761,
 763,
 768,
 779,
 780,
 781,
 790,
 800,
 806,
 808,
 809,
 820,
 838,
 841,
 849,
 892,
 895,
 901,
 916,
 924,
 926,
 928,
 930,
 934,
 939,
 940,
 978,
 988,
 1014,
 1016,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1042,
 1046,
 1047,
 1090,
 1207,
 1218,
 1249,
 1273,
 1283,
 1301,
 1407]

In [35]:
# Cross Checking 
sorted(Unique_movieid_similar_user)

[1,
 3,
 8,
 11,
 15,
 17,
 22,
 23,
 27,
 28,
 29,
 31,
 33,
 35,
 38,
 39,
 44,
 48,
 49,
 50,
 51,
 53,
 54,
 56,
 63,
 64,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 88,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 105,
 111,
 112,
 117,
 118,
 121,
 122,
 123,
 127,
 133,
 139,
 140,
 144,
 145,
 147,
 148,
 151,
 153,
 155,
 156,
 158,
 159,
 160,
 161,
 162,
 164,
 168,
 172,
 173,
 174,
 176,
 177,
 178,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 195,
 200,
 202,
 203,
 204,
 208,
 210,
 211,
 215,
 216,
 217,
 218,
 219,
 222,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 247,
 248,
 249,
 250,
 252,
 254,
 257,
 258,
 259,
 261,
 264,
 265,
 266,
 273,
 274,
 276,
 281,
 282,
 284,
 286,
 288,
 289,
 292,
 294,
 295,
 300,
 301,
 304,
 307,
 308,
 313,
 315,
 318,
 321,
 322,
 323,
 326,
 327,
 328,
 332,
 333,
 356,
 358,
 365,
 371,
 376,
 379,
 381,
 383,
 384,
 385,
 386,
 389,
 392,
 393,
 395,
 397,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 408,
 409,
 410,
 411,
 413,
 418,
 419,
 420,
 423,
 424,
 427,
 431,
 432,
 433,
 435,
 436,
 444,
 445,
 447,
 450,
 451,
 452,
 465,
 467,
 468,
 470,
 477,
 483,
 496,
 501,
 508,
 520,
 526,
 541,
 550,
 551,
 553,
 559,
 566,
 568,
 569,
 573,
 576,
 578,
 581,
 585,
 586,
 588,
 590,
 591,
 596,
 616,
 625,
 627,
 628,
 637,
 651,
 655,
 665,
 672,
 673,
 676,
 678,
 679,
 680,
 681,
 690,
 692,
 693,
 696,
 710,
 716,
 717,
 720,
 722,
 728,
 732,
 734,
 735,
 742,
 748,
 756,
 758,
 761,
 763,
 768,
 779,
 780,
 781,
 790,
 800,
 806,
 808,
 809,
 820,
 838,
 841,
 849,
 876,
 877,
 879,
 881,
 892,
 895,
 901,
 916,
 924,
 926,
 928,
 930,
 934,
 937,
 939,
 940,
 978,
 988,
 1014,
 1016,
 1025,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1042,
 1046,
 1047,
 1090,
 1207,
 1218,
 1249,
 1273,
 1283,
 1301,
 1407]

In [36]:
# Checking the common movie list
list(set(Unique_movieid_similar_user)&set(input_user_watched_movieid))

[1025,
 258,
 259,
 261,
 264,
 266,
 678,
 680,
 937,
 300,
 321,
 322,
 326,
 327,
 328,
 332,
 333,
 358,
 876,
 877,
 748,
 879,
 881,
 242,
 243]

In [37]:
user_pred=pd.DataFrame(user_prediction)

In [38]:
user_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.065326,0.734303,0.629924,1.010669,0.640686,0.476150,1.784569,1.163032,1.513350,0.704478,...,0.394041,0.394434,0.393981,0.392972,0.393344,0.392272,0.394909,0.393590,0.393049,0.392771
1,1.763088,0.384040,0.196179,0.731538,0.225643,0.003892,1.493597,0.876153,1.108467,0.261991,...,-0.086942,-0.085491,-0.087137,-0.088158,-0.087298,-0.089288,-0.087468,-0.088378,-0.086918,-0.086712
2,1.795904,0.329047,0.158829,0.684154,0.173277,-0.035621,1.488230,0.835769,1.135426,0.236383,...,-0.134795,-0.133537,-0.135543,-0.136438,-0.135041,-0.137611,-0.136374,-0.136992,-0.134969,-0.134765
3,1.729951,0.293913,0.127741,0.644932,0.142143,-0.062261,1.437010,0.796249,1.096663,0.211789,...,-0.161413,-0.160220,-0.161542,-0.162586,-0.161634,-0.163877,-0.162283,-0.163080,-0.161442,-0.161248
4,1.796651,0.454474,0.354422,0.763130,0.359539,0.195987,1.547370,0.908904,1.292027,0.437954,...,0.101762,0.102405,0.101923,0.100839,0.101711,0.099951,0.102515,0.101233,0.101075,0.101201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,1.676950,0.346339,0.177518,0.689906,0.199740,0.003297,1.429565,0.830905,1.070986,0.262183,...,-0.092434,-0.091197,-0.092851,-0.093801,-0.092953,-0.094539,-0.092217,-0.093378,-0.092686,-0.092423
939,1.822346,0.419125,0.286430,0.715605,0.294442,0.106633,1.514591,0.853050,1.195304,0.359260,...,0.014060,0.014688,0.014123,0.013060,0.013669,0.011978,0.014065,0.013021,0.013639,0.013796
940,1.591515,0.275269,0.102195,0.624383,0.133762,-0.069553,1.320734,0.765529,1.035088,0.192697,...,-0.166179,-0.164981,-0.166278,-0.167392,-0.166679,-0.168486,-0.166217,-0.167352,-0.166575,-0.166414
941,1.810363,0.404799,0.275450,0.726616,0.281316,0.087068,1.550310,0.850057,1.205745,0.342987,...,-0.008362,-0.007757,-0.008225,-0.009218,-0.008232,-0.010138,-0.008009,-0.009074,-0.008466,-0.008049
942,1.838431,0.479648,0.384963,0.780521,0.388442,0.240998,1.564232,0.946704,1.289865,0.487383,...,0.147027,0.148208,0.147193,0.146199,0.146916,0.145539,0.148194,0.146867,0.146298,0.146415

In [40]:
# Transpose
user_pred_Trans=user_pred.T

In [41]:
user_pred_Trans[35]

0       1.724279
1       0.278362
2       0.111767
3       0.629632
4       0.127018
          ...
1677   -0.180688
1678   -0.179018
1679   -0.179853
1680   -0.178253
1681   -0.178168
Name: 35, Length: 1682, dtype: float64

In [42]:
gg=user_pred_Trans[35]

In [43]:
g=pd.DataFrame(gg)

In [44]:
s=g.T

In [45]:
s[187].values >=0.4

array([ True])

In [46]:
# From recomd list select hightest rated film which would like by the user. Based on User prediction

highest_Rated=[]
input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
input_user_pred=input_user_pre.T
for re in recom:
    value=input_user_pred[re].values
    if(value>=1):
        highest_Rated.append(re)

In [47]:
len(highest_Rated)

20

In [48]:
# Now we give movieid respective movie list


i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [49]:
#Creating Movie List based on recom movieid
movie_title=[]
for movieid in highest_Rated:
    mov=items[items['movie id']==movieid]['movie title'].values
    movie_title.append(mov)

In [50]:
movie_title

[array(['Babe (1995)'], dtype=object),
 array(['Seven (Se7en) (1995)'], dtype=object),
 array(['Bad Boys (1995)'], dtype=object),
 array(['I.Q. (1994)'], dtype=object),
 array(['Santa Clause, The (1994)'], dtype=object),
 array(['Crow, The (1994)'], dtype=object),
 array(['Free Willy (1993)'], dtype=object),
 array(['Sleepless in Seattle (1993)'], dtype=object),
 array(['Aladdin (1992)'], dtype=object),
 array(['Dances with Wolves (1990)'], dtype=object),
 array(['Snow White and the Seven Dwarfs (1937)'], dtype=object),
 array(['Empire Strikes Back, The (1980)'], dtype=object),
 array(['Princess Bride, The (1987)'], dtype=object),
 array(['GoodFellas (1990)'], dtype=object),
 array(['Unforgiven (1992)'], dtype=object),
 array(['Field of Dreams (1989)'], dtype=object),
 array(['Men in Black (1997)'], dtype=object),
 array(['In & Out (1997)'], dtype=object),
 array(['Client, The (1994)'], dtype=object),
 array(['Pinocchio (1940)'], dtype=object)]

In [51]:
#Converting into pure list
movie_title_list=[]
for m in movie_title:
    print(m)
    mv=list(m)
    movie_title_list.append(mv)

['Babe (1995)']
['Seven (Se7en) (1995)']
['Bad Boys (1995)']
['I.Q. (1994)']
['Santa Clause, The (1994)']
['Crow, The (1994)']
['Free Willy (1993)']
['Sleepless in Seattle (1993)']
['Aladdin (1992)']
['Dances with Wolves (1990)']
['Snow White and the Seven Dwarfs (1937)']
['Empire Strikes Back, The (1980)']
['Princess Bride, The (1987)']
['GoodFellas (1990)']
['Unforgiven (1992)']
['Field of Dreams (1989)']
['Men in Black (1997)']
['In & Out (1997)']
['Client, The (1994)']
['Pinocchio (1940)']

In [52]:
#Converting into whole list
import itertools
Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))

In [53]:
Final_Recommend_movie

['Babe (1995)',
 'Seven (Se7en) (1995)',
 'Bad Boys (1995)',
 'I.Q. (1994)',
 'Santa Clause, The (1994)',
 'Crow, The (1994)',
 'Free Willy (1993)',
 'Sleepless in Seattle (1993)',
 'Aladdin (1992)',
 'Dances with Wolves (1990)',
 'Snow White and the Seven Dwarfs (1937)',
 'Empire Strikes Back, The (1980)',
 'Princess Bride, The (1987)',
 'GoodFellas (1990)',
 'Unforgiven (1992)',
 'Field of Dreams (1989)',
 'Men in Black (1997)',
 'In & Out (1997)',
 'Client, The (1994)',
 'Pinocchio (1940)']

In [54]:
# Checking the common movie list
list(set(recom)&set(input_user_watched_movieid))

[]

In [55]:
def userbased(input_user,user_similarity,user_predictions,similar_user_count,thres):
    #Convert the user_sim table into DataFrame
    user_sim_table=pd.DataFrame(user_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(similar_user_count).index
    #Convert in to list
    similar_user_input=list(similar_input_user) 
    #Using similar_user_input,can select movie id from ratings table
    similar_user_movieid_list=[]
    for sim_user in similar_user_input:
        sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
        similar_user_movieid_list.append(sim)
    #Converting as a whole list
    import itertools
    similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
    #Unique movieid from the list
    Unique_movieid_similar_user=set(similar_user_movieid_single_list)
    #Input user watched movie_list
    input_user_watched_movieid=list(ratings[ratings['user_id']==input_user]['movie_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in Unique_movieid_similar_user:
        if(per_id in input_user_watched_movieid):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_Rated=[]
    user_pred=pd.DataFrame(user_prediction)
    user_pred_Trans=user_pred.T
    input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
    input_user_pred=input_user_pre.T
    for re in recom:
        value=input_user_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)
    i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
    #Creating Movie List based on recom movieid
    movie_title=[]
    for movieid in highest_Rated:
        mov=items[items['movie id']==movieid]['movie title'].values
        movie_title.append(mov)
    #Converting into pure list
    movie_title_list=[]
    for m in movie_title:
        print(m)
        mv=list(m)
        movie_title_list.append(mv)
    #Converting into whole list
    import itertools
    Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))
    print("The common Movie in Recom & User:",list(set(recom)&set(input_user_watched_movieid)))
    return Final_Recommend_movie

In [64]:
#def userbased(input_user,user_similarity,user_predictions,similar_user_count,similar_user_movieid_count,thres):
Recommended_movie=userbased(22,user_similarity,user_pred,2,0.8)

['Twelve Monkeys (1995)']
['Babe (1995)']
['Richard III (1995)']
['Seven (Se7en) (1995)']
['Mighty Aphrodite (1995)']
['Postino, Il (1994)']
['Braveheart (1995)']
['Santa Clause, The (1994)']
['Forrest Gump (1994)']
['Four Weddings and a Funeral (1994)']
['Sleepless in Seattle (1993)']
['Aladdin (1992)']
['Dances with Wolves (1990)']
['Snow White and the Seven Dwarfs (1937)']
['Frighteners, The (1996)']
['Lone Star (1996)']
["Breakfast at Tiffany's (1961)"]
['Gone with the Wind (1939)']
['Citizen Kane (1941)']
['Sound of Music, The (1965)']
['Swingers (1996)']
['Sleeper (1973)']
['Clockwork Orange, A (1971)']
['Apocalypse Now (1979)']
['GoodFellas (1990)']
['Psycho (1960)']
['Henry V (1989)']
['Right Stuff, The (1983)']
['Dead Poets Society (1989)']
['Bridge on the River Kwai, The (1957)']
['Unforgiven (1992)']
['Cyrano de Bergerac (1990)']
['Field of Dreams (1989)']
['Jerry Maguire (1996)']
['Sabrina (1995)']
['Sense and Sensibility (1995)']
['River Wild, The (1994)']
['Tin Cup (1996)']
['Secrets & Lies (1996)']
['In the Name of the Father (1993)']
['Pinocchio (1940)']
['Forbidden Planet (1956)']
['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)']
['Philadelphia Story, The (1940)']
['Vertigo (1958)']
['Some Like It Hot (1959)']
['Streetcar Named Desire, A (1951)']
['Annie Hall (1977)']
['American in Paris, An (1951)']
['Chinatown (1974)']
['Benny & Joon (1993)']
The common Movie in Recom & User: []

In [65]:
len(Recommended_movie)

51